html, body, .input-group-addon, .form-control {
    font-size: 16px;
}

.btn {
    border: 0 none;
    font-weight: bold;
}

.btn-red {
    background-color: #ef476f;
    color: #fff;
}

.btn-red:hover {
    color: #ffd166;
}

.form-control {
    color: #073b4c;
}

.survey-cont {
    background-color: transparent;
    color: #fff;
    border-radius: 8px;
    border: 0 none;
}

.survey-title {
    text-transform: uppercase;
}

.survey-desc {
    margin: 0;
}

.survey-loading p {
    margin: 0;
}

.survey-form {
    color: #073b4c;
}

.survey-loading {
    text-align: center;
    color: #fff;
}

.survey-form .survey-body [data-formjs-question],
.survey-form .survey-body .question-box {
    background-color: #fff;
    color: #073b4c;
    border-radius: 8px 8px 0 0;
}

.survey-form .survey-body .question-body {
    padding: 60px 30px 20px;
}

.survey-form .question-header {
    text-transform: uppercase;
    background-color: #666;
    color: #fff;
    border-radius: 8px;
}

.survey-form .input-group .form-control {
    width: auto;
}

.survey-footer {
    border-top: 4px dashed #073b4c;
    padding: 30px;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    width: 100%;
    margin: -1px auto;
    max-width: 600px;
}

.survey-cont .alert {
    margin-bottom: 0;
    margin-top: 15px;
}

.modal-body h3 {
    margin: 0;
}

.modal-body p {
    margin-bottom: 0;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #ef476f;
}

.has-error .form-control,
.has-error .form-control:focus {
    border-color: #ef476f;
    border-width: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-error .input-group-addon {
    color: #ef476f;
    border-width: 2px;
    border-color: #ef476f;
    border-right-color: #ef476f;
    background-color: #fcdde4;
}

@media (max-width: 600px){
    .survey-form .input-group .form-control {
        width: 100%;
    }
}