
/* SURVEY */
.surveyjs-wrapper {
    background-color: #fff;
    color: #073B4C;
    border-radius: 8px;
    border: 0 none;
}

.surveyjs-wrapper .card-header-inner {
    padding-bottom: 1rem;
    border-bottom: 4px dotted #06d6a0;
}

.surveyjs-title {
    text-transform: uppercase;
}

.surveyjs-description {
    margin: 0;
}

.surveyjs-loading p {
    margin: 0;
}

.surveyjs-form .surveyjs-question-header,
.surveyjs-form .surveyjs-question-body {
    padding: 15px;
}

.surveyjs-form .surveyjs-question-header {
    text-transform: uppercase;
    background-color: #06d6a0;
    color: #fff;
    border-radius: 8px;
}

.surveyjs-form .input-group .form-control {
    /* width: auto; */
    height: auto;
}

.surveyjs-form .surveyjs-submit-btn.surveyjs-submit-sending .surveyjs-submit-text {
    display: none;
}
.surveyjs-form .surveyjs-submit-btn.surveyjs-submit-sending:before {
    content: 'Sending data...';
}

.surveyjs-footer {
    border-top: 4px dotted #06d6a0;
    padding-top: 15px;
}

.surveyjs-wrapper .alert {
    margin-bottom: 0;
    margin-top: 15px;
}

.modal-body h3 {
    margin: 0;
}

.modal-body p {
    margin-bottom: 0;
}

.text-white {
    color: #fff;
}

.margin-lg {
    margin-top: 30px;
    margin-bottom: 30px;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error .form-check,
.has-error .form-check-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label,
.has-error.form-check label,
.has-error.form-check-inline label
{
    color: #ef476f;
}

.has-error .custom-select,
.has-error .custom-select:focus,
.has-error .form-control,
.has-error .form-control:focus {
    border-color: #ef476f;
    border-width: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-error .input-group-addon,
.has-error .input-group-prepend .input-group-text {
    color: #ef476f;
    border-width: 2px;
    border-color: #ef476f;
    border-right-color: #ef476f;
    background-color: #fcdde4;
}

.toggable-content-outer .fake-checkbox.btn-toggable-content,
.toggable-content-outer .fake-checkbox.btn-toggable-content ~ .toggable-label span,
.toggable-content-outer .toggable-content {
    display: none;
}

.toggable-content-outer .toggable-label {
    position: relative;
}

.toggable-content-outer .toggable-label span {
    cursor: pointer;
    font-size: 1rem;
}

.toggable-content-outer .toggable-label span:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.toggable-content-outer .toggable-label span:first-child:after {
    border-top: .3em solid;
    border-top-color: #ef476f;
}

.toggable-content-outer .toggable-label span:last-child:after {
    border-bottom: .3em solid;
    border-bottom-color: #ef476f;
}

.toggable-content-outer .fake-checkbox.btn-toggable-content:not(:checked) ~ .toggable-label span:first-child {
    display: block;
}

.toggable-content-outer .fake-checkbox.btn-toggable-content:checked ~ .toggable-label span:last-child,
.toggable-content-outer .fake-checkbox.btn-toggable-content:checked ~ .toggable-content {
    display: block;
}
