# Auto detect text files and perform LF normalization
* text=auto
js/vendors/* linguist-vendored
index.html linguist-documentation
example-base.html linguist-documentation
example-1.html linguist-documentation
example-2.html linguist-documentation
css/* linguist-documentation
fonts/* linguist-documentation
img/* linguist-documentation
json/* linguist-documentation
js/surveyJS.js linguist-generated=true
js/surveyJS.min.js linguist-generated=true
js/surveyJS.min.js.map linguist-generated=true
