# Auto detect text files and perform LF normalization
* text=auto
index.html linguist-documentation
example-base.html linguist-documentation
example-1.html linguist-documentation
example-2.html linguist-documentation
css/* linguist-documentation
fonts/* linguist-documentation
img/* linguist-documentation
json/* linguist-documentation
js/demo.js linguist-documentation
js/include.js linguist-documentation
js/vendors/* linguist-vendored
dist/* linguist-generated=true
